body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  display: inline-block;
  width: 20%;
}

.clients_list{
  margin: 0;
  padding: 0;
  background-color: #A9A9A9;
}

.clients_list li{
  display: flex;
  font-size: 1.3rem;
  color: white;
  list-style-type: none;
  height: 100px;

  border-bottom: 2px solid dimgrey;
}
.clients_list img{
  height: 100px;
}
.search{
  width: 100%;
  background-color:darkgrey;
  outline: none;
  color:white;
  font-size: 1.5rem;
  padding-left: 10px;
  height: 50px;
}
.clients_list .person_info{
  padding-left: 10px;
  padding-top: 20px;
}


.detailed_information{
  padding-top: 50px;
  padding-left: 50px;
  width: 80%;
  font-size: 2rem;
  line-height: 2.5rem;
  background-color: #808080;
}
.wrapper{
  display: flex;
}

.detailed_information div{
  color:white;
}